<section>
  <h2>Basic Example</h2>
  <app-hot-table class="hot" [id]="id" [data]="data" [language]="language"></app-hot-table>

  <p>
    <label for="languages">Select language:</label>
    <select [(ngModel)]="language">
      <option *ngFor="let l of languages" [value]="l.languageCode">{{l.languageCode}}</option>
    </select>
  </p>

  <p><button type="button" (click)="showHotData()">Show dataset</button></p>
  <p><button type="button" (click)="swapHotData()">Swap dataset</button></p>

</section>
<router-outlet></router-outlet>